a:hover {
    background-color: #e44a19;
}

a {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
    width: auto;
    margin-left: 10px;
    margin-right: 15px;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 50px;
    position: fixed;
    overflow: auto;
    padding-top: 1rem;
    background-color: #12344d;
}

mat-sidenav-content {
    margin-left: 5rem !important;
    padding-left: 0 !important;

    @media screen and (min-width: 600px) {
        padding-top: .5rem;
    }
}

mat-icon {
    overflow: visible;
    color: #a0aeb8;
}

.list-item-active {
    color: #e44a19 !important;
    background-color: #e44a19 !important;
}

#search {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./../assets/icons/icons8-search-24.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 40px 8px 53px;
    margin-right: 15px;
}

.iconDisplay {
    width: 50%; 
    margin-left: 15px; 
    padding-bottom: 10px
}

.notificationIcon {
    margin-right: 70px;
    margin-top: 15px;
    font-size: xx-large;
    color: #6c7b91;
}

.breadcrumbBar {
    width: 100%; 
    height: 50px; 
    border-color: black; 
    padding-top: 10px;
    font-weight: 650 !important;
}