<mat-sidenav-container autosize>
  <mat-sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'"
  >
    <!-- ACME icon -->
    <div class="logo-wrapper iconDisplay">
      <img src="/assets/icons/icon.png" alt="Logo" />
    </div>
    <!-- Nav items -->
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/dashboard"
        (click)="navClicked('Dashboard')"
        [class.list-item-active]="selectedNav == 'Dashboard'"
      >
        <mat-icon matListIcon> bar_chart</mat-icon>
      </a>

      <a
        mat-list-item
        routerLink="/listingPage"
        (click)="navClicked('Jobs')"
        [class.list-item-active]="selectedNav == 'Jobs'"
      >
        <mat-icon matListIcon>business_center</mat-icon>
      </a>

      <a
        mat-list-item
        routerLink="/settings"
        (click)="navClicked('Settings')"
        [class.list-item-active]="selectedNav == 'Settings'"
      >
        <mat-icon matListIcon>settings</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="row" class="inline-flex">
      <!-- ACME LOGO -->
      <img class="h-14" src="./../assets/icons/acme.jpg" />
      <!-- application main search -->
      <mat-form-field appearance="standard" class="ml-96">
        <input matInput id="search" type="search" placeholder="Search" />
      </mat-form-field>
      <!-- notification icon -->
      <mat-icon class="absolute top-0 right-0 h-16 w-16 notificationIcon"
        >notifications_none</mat-icon>
      <!-- profile icon -->
      <div class="absolute top-0 right-0 h-16 w-16 ...">
        <img src="./../assets/icons/profile.jpg" class="rounded-full p-2.5" />
      </div>
    </div>
    <hr />
    <!-- breadcrumb bar -->
    <div class="breadcrumbBar">
      {{ selectedNav }}
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
